---
layout: default
title: FeatherCoin - Built for Community
---


{% include sections/offer.html offer-text="<strong>F</strong><span class=\"thin\">eatherCoin</span> Is Built For Everyone" button-text="Get a Wallet" %}

{% include sections/about.html %}

{% include sections/features.html %}

{% include sections/parallax-features.html %}

{% include sections/offer.html offer-text="<strong>F</strong><span class=\"thin\">eatherCoin</span> Is Built For Everyone" button-text="Get a Wallet" %}

{% include sections/blog.html %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="<strong>F</strong><span class=\"thin\">eatherCoin</span> Is Built For Everyone" button-text="Get a Wallet" %}


{% include sections/contact.html %}

{% include sections/offer.html offer-text="<strong>F</strong><span class=\"thin\">eatherCoin</span> Is Built For Everyone" button-text="Get a Wallet" %}
