<!DOCTYPE html>
<html lang="en" class="gr__getbootstrap_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./flavicon.ico">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS/Other CDNs -->
    <link href="./assets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="flavicon/png" href="/flavicon.png">

    <!-- Custom styles for this template -->
    <link href="./assets/main.css" rel="stylesheet">
  </head>
     <body data-gr-c-s-loaded="true">