<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-default">
      <a href="#" class="navbar-left"><img src="./assets/img/logo.png" height="42"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">How To Start</a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown"><a class="nav-link" href="/buying-feathercoin">Buying Feathercoin</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="/mining">Mining Feathercoin</a></li>
        </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown"><a class="nav-link" href="http://explorer.feathercoin.com/">Block Explorer</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="feathercoin-api">Feathercoin API</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="miningstats">Mining Stats</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="http://www.coinwarz.com/calculators/feathercoin-mining-calculator">Mining Calculator</a></li>
        </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="http://forum.feathercoin.com/topic/8523/faq-new-forum-member-most-asked-questions-try-here-first">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://forum.feathercoin.com/">Forum</a>
          </li>
          
        </ul>
      </div>
    </nav>